table thead tr {
    background: #7f8c8d;
    font-size: 12px !important;
}

table thead tr th {
    color: #ffffff !important;
    text-align: center !important;
    vertical-align: middle !important;
}

td {
    text-align: left;
    font-size: 12px !important;
}

.custom-control {
    position: relative !important;
    display: block !important;
    min-height: 1.5rem !important;
    padding-left: 0 !important;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 0px 16px !important;
    height: 38px !important;
    vertical-align: middle !important;
}